DATABASE_URL=postgresql+psycopg://devboard_user:devboard_password@db:5432/devboard_db
JWT_SECRET_KEY=change_me_in_production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS=["http://localhost:5173"]
